In [1]:
#Pandas
#library which is used to manipulate, transform, change and prepare
#numpy is only used for numerical data
#pandas=> numerical/string => SQL developer

In [3]:
#series=> 1column/ representaion of nd array
# What is an ND Array?
# ND array stands for N-Dimensional Array.
# N means any number of dimensions (1D, 2D, 3D, 4D, etc.)
# In NumPy, ndarray is the main data structure used to store arrays.

#Examples of ND Arrays:
# | Dimension    | Example                          | Shape     |
# | ------------ | -------------------------------- | --------- |
# | **1D array** | `[1, 2, 3]`                      | `(3,)`    |
# | **2D array** | `[[1, 2, 3], [4, 5, 6]]`         | `(2,3)`   |
# | **3D array** | `[[[1,2],[3,4]], [[5,6],[7,8]]]` | `(2,2,2)` |


import pandas as pd
pd.Series([10,20,30,40])
type(pd.Series([10,20,30,40]))

pandas.core.series.Series

In [5]:
#pandas uses numpy in the background to storing and managing the data, thats wjhy all the functionalities of numpy are there in pandas
import pandas as pd
marks=pd.Series([10,20,30,40])
marks

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
marks[0]

10

In [9]:
marks[1]

20

In [13]:
marks[1]=50
marks[1]

50

In [19]:
print(marks[1:])

1    50
2    30
3    40
dtype: int64

In [29]:
marks=pd.Series([10,20,30,"40"],index=["A","B","C","D"])
marks.dtype
marks.index
print(marks)
print(marks[0])
print(marks["A"])

A    10
B    20
C    30
D    40
dtype: object
10
10

C:\Users\shaba\AppData\Local\Temp\ipykernel_47220\1532498184.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(marks[0])

In [33]:
#to check if any element is present in a series
10 in marks.values

True

In [35]:
10 not in marks.values

False

In [37]:
#to_list() function
marks.to_dict()

{'A': 10, 'B': 20, 'C': 30, 'D': '40'}

In [39]:
marks.to_list()

[10, 20, 30, '40']

In [81]:
mark=pd.Series([10,20,300,40], index=["A","B","C","D"])
print(mark.max())
print(mark.min())
print(mark.mean())
print(mark.idxmax()) #shows maximum values index
print(mark.value_counts())
print(mark.value_counts()[10])
print(mark.sort_values(ascending=True))
print(mark.sort_values(ascending=False))

300
10
92.5
C
10     1
20     1
300    1
40     1
Name: count, dtype: int64
1
A     10
B     20
D     40
C    300
dtype: int64
C    300
D     40
B     20
A     10
dtype: int64

In [85]:
print(mark.sort_values(ascending=False))

C    300
D     40
B     20
A     10
dtype: int64

In [87]:
print(mark.sort_values(ascending=False,ignore_index=True))

0    300
1     40
2     20
3     10
dtype: int64

In [91]:
markks=pd.Series([10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,200])
def func(num):
    if(num<40):
        return "Grade F"
    elif(num<60):
        return "Grade B"
    else:
        return "Grade A"
markks.apply(func)
#apply function is passed to each and every elements

#How does apply() work on a Series?
#When you run:
#markks.apply(func)

# Pandas automatically does this behind the scenes:
# For each element in markks, it calls func()
# It passes one element at a time into func(num)


# So:
# num is irrelevant to Pandas.

# Pandas just sends each value to the first parameter of your function, whatever name you give.
#but we have to pass any parameter else it will give error

0     Grade F
1     Grade F
2     Grade F
3     Grade B
4     Grade B
5     Grade A
6     Grade A
7     Grade A
8     Grade A
9     Grade A
10    Grade A
11    Grade A
12    Grade A
13    Grade A
14    Grade A
15    Grade A
dtype: object

In [93]:
#filtering elements in a series
markks[markks>30]

3      40
4      50
5      60
6      70
7      80
8      90
9     100
10    110
11    120
12    130
13    140
14    150
15    200
dtype: int64