In [19]:
# hw
# search movielens--- movielens/grouplens----download small(1 mb) zip file
# task: 1. ratings   2. movies
# make a dataframe of ratings and check if there any null values 
# and also check if the data types are correct, 
# also check and drop all none values if present,
# also drop duplicate records, 
# timestamp is present in the form of integers chnage it to normal date time, 
# also create 3 new columns named as year, month and quarter and inside it find out how many number of movies has been watched in each quarter and what are the average count of users watching movies per year.
                                    
# do a groupby on movies columns and find out the average rating and the total number of users who has watched that movie.


#Q.1 make a dataframe of ratings and check if there any null values 
import pandas as pd
df=pd.read_csv("ratings.csv")
print(df)
df.isnull()  # Check for any null (missing) values in the DataFrame
              # True → The value is missing (i.e., it is NaN)
              # False → The value is not missing (i.e., it has valid data)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

        userId  movieId  rating  timestamp
0        False    False   False      False
1        False    False   False      False
2        False    False   False      False
3        False    False   False      False
4        False    False   False      False
...        ...      ...     ...        ...
100831   False    False   False      False
100832   False    False   False      False
100833   False    False   False      False
100834   False    False   False      False
100835   False    False   False      False

[100836 rows x 4 columns]

In [21]:
#and also check if the data types are correct,
print(df.dtypes)
#data type of userID, movieID and rating are correct however the datatype of timestamp is not correct, it should be datetime64[ns].
#datetime64[ns] means a datetime data type in Pandas with nanosecond precision.

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [33]:
df["timestamp"]=pd.to_datetime(df["timestamp"])
print(df.dtypes)

userId                int64
movieId               int64
rating              float64
timestamp    datetime64[ns]
dtype: object

In [39]:
# Check all missing values (None and NaN):
# df.isnull()
#Q. also check and drop all none values if present
print(len(df.isnull()))

# print(len(df.isnull())) will just print the number of rows in your DataFrame because df.isnull() returns a DataFrame of the same shape,
# and len() counts its rows.

100836

In [45]:
#To print count of missing values per column, use:
print(df.isnull().sum())

#no missing values in any column

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [49]:
#To print total number of missing values in the entire DataFrame, use:
print(df.isnull().sum().sum())

#no missing values in the dataframe

0

In [63]:
#Q. also drop duplicate records,
duplicated_records=df.duplicated()
print(duplicated_records)
print(df.duplicated().sum()) # gives no of suplicate records which is 0 here

0         False
1         False
2         False
3         False
4         False
          ...
100831    False
100832    False
100833    False
100834    False
100835    False
Length: 100836, dtype: bool
0

In [69]:
 #Check if any duplicate rows exist:
print(df.duplicated().any())

#Returns True if there is at least one duplicate row.

False

In [125]:
#year, month, and quarter are attributes of the .dt datetime accessor in Pandas.
#accessor is a tool in pandas that gives us to access to extra methods or attributes in a dataframe.
#A Pandas DataFrame is like a 2D array or table, with row and column.

#Q. also create 3 new columns named as year, month and quarter
import pandas as pd
df=pd.read_csv("ratings.csv")
df["timestamp"]=pd.to_datetime(df["timestamp"],unit="s")
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['quarter'] = df['timestamp'].dt.quarter
print(df)



#The Unix epoch is a time-measuring system used in computing. It's defined as January 1, 1970, at 00:00:00 Coordinated Universal Time (UTC).
#our timestamps are like 964982703, which is Unix time in seconds, unit='s' is the correct way to get accurate datetime

        userId  movieId  rating           timestamp  year  month  quarter
0            1        1     4.0 2000-07-30 18:45:03  2000      7        3
1            1        3     4.0 2000-07-30 18:20:47  2000      7        3
2            1        6     4.0 2000-07-30 18:37:04  2000      7        3
3            1       47     5.0 2000-07-30 19:03:35  2000      7        3
4            1       50     5.0 2000-07-30 18:48:51  2000      7        3
...        ...      ...     ...                 ...   ...    ...      ...
100831     610   166534     4.0 2017-05-03 21:53:22  2017      5        2
100832     610   168248     5.0 2017-05-03 22:21:31  2017      5        2
100833     610   168250     5.0 2017-05-08 19:50:47  2017      5        2
100834     610   168252     5.0 2017-05-03 21:19:12  2017      5        2
100835     610   170875     3.0 2017-05-03 21:20:15  2017      5        2

[100836 rows x 7 columns]

In [127]:
#find out how many number of movies has been watched in each year,quarter,month
movies_per_year=df.groupby("year").size()
print(movies_per_year)

year
1996     6040
1997     1916
1998      507
1999     2439
2000    10061
2001     3922
2002     3478
2003     4014
2004     3279
2005     5813
2006     4059
2007     7114
2008     4351
2009     4158
2010     2301
2011     1690
2012     4656
2013     1664
2014     1439
2015     6616
2016     6703
2017     8198
2018     6418
dtype: int64

In [129]:
movies_per_quarter=df.groupby(["year","quarter"]).size()
print(movies_per_quarter)

year  quarter
1996  1            58
      2          1880
      3          1883
      4          2219
1997  1           971
                 ...
2017  3           815
      4           991
2018  1          3090
      2          1600
      3          1728
Length: 91, dtype: int64

In [139]:
movies_per_month=df.groupby(["year","month"]).size()
print(movies_per_month)

#for month not showing in month columns, there is no data present for that month of that particular year

year  month
1996  3         58
      4        165
      5        832
      6        883
      7        489
              ...
2018  5        951
      6        419
      7        293
      8        831
      9        604
Length: 267, dtype: int64

In [153]:
# Q. what are the average count of users watching movies per year.
unique_users_per_year=df.groupby("year")["userId"].nunique()
average_users=unique_users_per_year.mean()
print("average count of users watching movies per year",average_users)

average count of users watching movies per year 40.78260869565217

In [163]:
#dataframe movies
dm=pd.read_csv("movies.csv")
print(dm)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [169]:
merged_df=pd.merge(df,dm,on="movieId")
print(merged_df)

#on='movieId'
#Match rows where movieId is the same in both DataFrames — and only keep one movieId column in the result.

        userId  movieId  rating           timestamp  year  month  quarter  \
0            1        1     4.0 2000-07-30 18:45:03  2000      7        3
1            1        3     4.0 2000-07-30 18:20:47  2000      7        3
2            1        6     4.0 2000-07-30 18:37:04  2000      7        3
3            1       47     5.0 2000-07-30 19:03:35  2000      7        3
4            1       50     5.0 2000-07-30 18:48:51  2000      7        3
...        ...      ...     ...                 ...   ...    ...      ...
100831     610   166534     4.0 2017-05-03 21:53:22  2017      5        2
100832     610   168248     5.0 2017-05-03 22:21:31  2017      5        2
100833     610   168250     5.0 2017-05-08 19:50:47  2017      5        2
100834     610   168252     5.0 2017-05-03 21:19:12  2017      5        2
100835     610   170875     3.0 2017-05-03 21:20:15  2017      5        2

                                 title  \
0                     Toy Story (1995)
1              Grumpier Old Men (1995)
2                          Heat (1995)
3          Seven (a.k.a. Se7en) (1995)
4           Usual Suspects, The (1995)
...                                ...
100831                    Split (2017)
100832   John Wick: Chapter Two (2017)
100833                  Get Out (2017)
100834                    Logan (2017)
100835  The Fate of the Furious (2017)

                                             genres
0       Adventure|Animation|Children|Comedy|Fantasy
1                                    Comedy|Romance
2                             Action|Crime|Thriller
3                                  Mystery|Thriller
4                            Crime|Mystery|Thriller
...                                             ...
100831                        Drama|Horror|Thriller
100832                        Action|Crime|Thriller
100833                                       Horror
100834                                Action|Sci-Fi
100835                  Action|Crime|Drama|Thriller

[100836 rows x 9 columns]

In [175]:
#do a groupby on movies columns and find out the average rating
average_rating=merged_df.groupby("title")["rating"].mean()
print(average_rating)

title
'71 (2014)                                   4.000000
'Hellboy': The Seeds of Creation (2004)      4.000000
'Round Midnight (1986)                       3.500000
'Salem's Lot (2004)                          5.000000
'Til There Was You (1997)                    4.000000
                                               ...
eXistenZ (1999)                              3.863636
xXx (2002)                                   2.770833
xXx: State of the Union (2005)               2.000000
¡Three Amigos! (1986)                        3.134615
À nous la liberté (Freedom for Us) (1931)    1.000000
Name: rating, Length: 9719, dtype: float64

In [181]:
#the total number of users who has watched that movie.
total_users=merged_df.groupby("title")["userId"].size()
print(total_users)

title
'71 (2014)                                    1
'Hellboy': The Seeds of Creation (2004)       1
'Round Midnight (1986)                        2
'Salem's Lot (2004)                           1
'Til There Was You (1997)                     2
                                             ..
eXistenZ (1999)                              22
xXx (2002)                                   24
xXx: State of the Union (2005)                5
¡Three Amigos! (1986)                        26
À nous la liberté (Freedom for Us) (1931)     1
Name: userId, Length: 9719, dtype: int64